Repository paritytech/polkadot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tomusdrw, @svyatonik, @adoerr, @acatangiu, @antonio-dropulic, @paritytech/ci, @chevdor

.github/CODEOWNERS:

bridges/ @tomusdrw @svyatonik @adoerr @acatangiu @antonio-dropulic

# CI
/.github/ @paritytech/ci @chevdor
/scripts/github/ @paritytech/ci @chevdor
/scripts/gitlab/ @paritytech/ci @chevdor
/.gitlab-ci.yml @paritytech/ci

Bump serde_json from 1.0.73 to 1.0.74 (#4659)
  Cargo.lock
  node/test/service/Cargo.toml
  runtime/common/Cargo.toml
  runtime/kusama/Cargo.toml
  runtime/polkadot/Cargo.toml
  runtime/test-runtime/Cargo.toml
  runtime/westend/Cargo.toml
Owners: none

Better docs on non initialized state.
  node/core/dispute-coordinator/src/real/mod.rs
  node/subsystem-types/src/messages.rs
Owners: none

add dummy upgrade test
  .gitlab-ci.yml
  zombienet_tests/parachains/0002-parachains-upgrade-smoke-test.feature
  zombienet_tests/parachains/0002-parachains-upgrade-smoke-test.toml
Owners: @paritytech/ci

Parachain runtime metrics followup (#4602)
  node/metrics/src/lib.rs
  node/metrics/src/runtime/mod.rs
  node/metrics/src/runtime/parachain.rs
  primitives/src/v1/metrics.rs
  primitives/src/v1/mod.rs
  runtime/metrics/src/with_runtime_metrics.rs
  runtime/metrics/src/without_runtime_metrics.rs
  runtime/parachains/src/lib.rs
  runtime/parachains/src/metrics.rs
  runtime/parachains/src/paras_inherent/mod.rs
Owners: none

Document better what is happening.
  node/core/chain-selection/src/lib.rs
Owners: none

More precise errors.
  node/service/src/relay_chain_selection.rs
Owners: none

Fix other tests
  node/test/service/tests/build-blocks.rs
  node/test/service/tests/call-function.rs
  parachain/test-parachains/adder/collator/tests/integration.rs
Owners: none

Run metrics tests separately
  scripts/gitlab/test_linux_stable.sh
Owners: @paritytech/ci, @chevdor

copy some substrate utilities
  tests/common.rs
Owners: none

update runtime metric test
  node/metrics/src/tests.rs
Owners: none

Remove sleep from cli tests
  tests/purge_chain_works.rs
  tests/running_the_node_and_interrupt.rs
Owners: none

update lockfile for substrate
  Cargo.lock
Owners: none

Polkadot companion for Substrate#10463 (#4519)
  Cargo.lock
  node/service/src/chain_spec.rs
  node/service/src/lib.rs
  node/test/service/src/chain_spec.rs
Owners: none

rename malus.Dockerfile
  scripts/dockerfiles/malus_injected.Dockerfile
Owners: none

ci chores
  .gitlab-ci.yml
Owners: @paritytech/ci

fix pipeline
  .gitlab-ci.yml
Owners: @paritytech/ci

configuration: Update upgrade validation delay doc
  runtime/parachains/src/configuration.rs
Owners: none

configuration: Update upgrade validation delay doc (#4662)
  runtime/parachains/src/configuration.rs
Owners: none

guard it better
  runtime/kusama/src/lib.rs
Owners: none

more log
  runtime/kusama/src/lib.rs
Owners: none

fix build
  runtime/kusama/src/lib.rs
Owners: none

bubble up service errors from BEEFY RPC
  rpc/src/lib.rs
Owners: none

CI: remove rococo from CI
  .gitlab-ci.yml
Owners: @paritytech/ci

[ci] .gitlab-ci.yml chores (#4663)
  .gitlab-ci.yml
  scripts/dockerfiles/malus_injected.Dockerfile
Owners: @paritytech/ci

CI: typo
  .gitlab-ci.yml
Owners: @paritytech/ci

fix spellcheck
  node/zombienet-backchannel/src/lib.rs
Owners: none

update lock file
  Cargo.lock
Owners: none

update lockfile for substrate
  Cargo.lock
Owners: none

Companion for Substrate#10568 - Add new BEEFY RPC (#4638)
  Cargo.lock
  node/service/src/lib.rs
  rpc/src/lib.rs
Owners: none

remove unused
  node/zombienet-backchannel/src/lib.rs
Owners: none

fmt
  node/zombienet-backchannel/src/lib.rs
Owners: none

zombinet: bump collator image
  .gitlab-ci.yml
Owners: @paritytech/ci

Better error for spurious cache misses.
  node/network/availability-distribution/src/error.rs
  node/network/availability-distribution/src/requester/session_cache.rs
Owners: none

zombinet: bump collator image (#4668)
  .gitlab-ci.yml
Owners: @paritytech/ci

Better error for spurious cache misses. (#4669)
  node/network/availability-distribution/src/error.rs
  node/network/availability-distribution/src/requester/session_cache.rs
Owners: none

bump spec version
  runtime/kusama/src/lib.rs
  runtime/polkadot/src/lib.rs
  runtime/westend/src/lib.rs
Owners: none

Fix command to check substrate base ref
  RELEASE.md
Owners: none

Fix locked deposit of council voters (#4655)
  runtime/polkadot/src/lib.rs
Owners: none

Fix locked deposits of Nicks pallet (#4656)
  runtime/kusama/src/lib.rs
Owners: none

changes from feedback
  node/zombienet-backchannel/src/errors.rs
  node/zombienet-backchannel/src/lib.rs
Owners: none
