Repository paritytech/polkadot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tomusdrw, @svyatonik, @adoerr, @acatangiu, @antonio-dropulic, @paritytech/ci, @chevdor

fmt
  node/zombienet-backchannel/src/lib.rs
Owners: none

Fix locked deposit of council voters (#4655)
  runtime/polkadot/src/lib.rs
Owners: none

Fix locked deposits of Nicks pallet (#4656)
  runtime/kusama/src/lib.rs
Owners: none

CI: another typo
  .gitlab-ci.yml
Owners: @paritytech/ci

[zombinet] initial implementation of zombienet backchannel (#4377)
  Cargo.lock
  Cargo.toml
  node/zombienet-backchannel/Cargo.toml
  node/zombienet-backchannel/src/errors.rs
  node/zombienet-backchannel/src/lib.rs
Owners: none

Fix command to check substrate base ref (#4671)
  RELEASE.md
Owners: none

pvf-precheck: PVF pre-checker subsystem
  Cargo.lock
  Cargo.toml
  node/core/pvf-checker/Cargo.toml
  node/core/pvf-checker/src/interest_view.rs
  node/core/pvf-checker/src/lib.rs
  node/core/pvf-checker/src/runtime_api.rs
  node/core/pvf-checker/src/tests.rs
  node/network/bridge/src/tests.rs
  node/overseer/src/dummy.rs
  node/overseer/src/lib.rs
  node/overseer/src/tests.rs
  node/service/Cargo.toml
  node/service/src/lib.rs
  node/service/src/overseer.rs
  node/subsystem-types/src/messages.rs
  scripts/gitlab/lingua.dic
Owners: @paritytech/ci, @chevdor

paras: fix weight computation
  runtime/parachains/src/paras/mod.rs
Owners: none

cargo fmt
  node/core/dispute-coordinator/src/real/mod.rs
Owners: none

pvf-precheck: PVF pre-checker subsystem (#4643)
  Cargo.lock
  Cargo.toml
  node/core/pvf-checker/Cargo.toml
  node/core/pvf-checker/src/interest_view.rs
  node/core/pvf-checker/src/lib.rs
  node/core/pvf-checker/src/runtime_api.rs
  node/core/pvf-checker/src/tests.rs
  node/network/bridge/src/tests.rs
  node/overseer/src/dummy.rs
  node/overseer/src/lib.rs
  node/overseer/src/tests.rs
  node/service/Cargo.toml
  node/service/src/lib.rs
  node/service/src/overseer.rs
  node/subsystem-types/src/messages.rs
  scripts/gitlab/lingua.dic
Owners: @paritytech/ci, @chevdor

Squashed commit of the following:
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  node/service/Cargo.toml
  node/service/src/chain_spec.rs
  runtime/common/src/lib.rs
  runtime/kusama/Cargo.toml
  runtime/kusama/src/lib.rs
  runtime/parachains/Cargo.toml
  runtime/polkadot/Cargo.toml
  runtime/polkadot/src/lib.rs
  runtime/rococo/Cargo.toml
  runtime/rococo/constants/src/lib.rs
  runtime/westend/Cargo.toml
  runtime/westend/constants/src/lib.rs
  runtime/westend/src/lib.rs
Owners: none

solve conflicts
  node/service/src/chain_spec.rs
  runtime/common/src/lib.rs
  runtime/kusama/Cargo.toml
  runtime/kusama/src/lib.rs
  runtime/parachains/Cargo.toml
  runtime/polkadot/Cargo.toml
  runtime/polkadot/src/lib.rs
  runtime/rococo/Cargo.toml
  runtime/rococo/constants/src/lib.rs
  runtime/westend/Cargo.toml
  runtime/westend/src/lib.rs
Owners: none

update sudo version
  runtime/kusama/Cargo.toml
  runtime/polkadot/Cargo.toml
Owners: none

paras: fix weight computation (#4673)
  runtime/parachains/src/paras/mod.rs
Owners: none

adapt to v0.9.15
  node/service/src/chain_spec.rs
  runtime/common/src/lib.rs
  runtime/kusama/src/lib.rs
  runtime/polkadot/src/lib.rs
Owners: none

cargo
  Cargo.lock
  Cargo.toml
Owners: none

Polkadot companion for Substrate#10463 (#4519)
  Cargo.lock
  node/service/src/chain_spec.rs
  node/service/src/lib.rs
  node/test/service/src/chain_spec.rs
Owners: none

configuration: Update upgrade validation delay doc (#4662)
  runtime/parachains/src/configuration.rs
Owners: none

typo
  scripts/gitlab/test_linux_stable.sh
Owners: @paritytech/ci, @chevdor

review feedback
  tests/common.rs
  tests/purge_chain_works.rs
  tests/running_the_node_and_interrupt.rs
Owners: none

cargo lock
  Cargo.lock
Owners: none

use testnet profile
  scripts/gitlab/test_linux_stable.sh
Owners: @paritytech/ci, @chevdor

Don't run with runtime-benchmark feature
  cli/Cargo.toml
  node/metrics/Cargo.toml
  node/metrics/src/tests.rs
Owners: none

Update Substrate
  Cargo.lock
Owners: none

add tests for reanchor
  xcm/src/v0/multi_location.rs
  xcm/src/v1/multilocation.rs
Owners: none

Westend weights
  runtime/westend/src/weights/pallet_bags_list.rs
  runtime/westend/src/weights/pallet_balances.rs
  runtime/westend/src/weights/pallet_identity.rs
  runtime/westend/src/weights/pallet_im_online.rs
  runtime/westend/src/weights/pallet_indices.rs
  runtime/westend/src/weights/pallet_multisig.rs
  runtime/westend/src/weights/pallet_preimage.rs
  runtime/westend/src/weights/pallet_proxy.rs
  runtime/westend/src/weights/pallet_scheduler.rs
  runtime/westend/src/weights/pallet_session.rs
  runtime/westend/src/weights/pallet_staking.rs
  runtime/westend/src/weights/pallet_timestamp.rs
  runtime/westend/src/weights/pallet_utility.rs
  runtime/westend/src/weights/pallet_vesting.rs
  runtime/westend/src/weights/runtime_common_auctions.rs
  runtime/westend/src/weights/runtime_common_paras_registrar.rs
  runtime/westend/src/weights/runtime_common_slots.rs
  runtime/westend/src/weights/runtime_parachains_configuration.rs
  runtime/westend/src/weights/runtime_parachains_initializer.rs
  runtime/westend/src/weights/runtime_parachains_paras.rs
  runtime/westend/src/weights/runtime_parachains_paras_inherent.rs
Owners: none

Kusama weights
  runtime/kusama/src/weights/pallet_bags_list.rs
  runtime/kusama/src/weights/pallet_balances.rs
  runtime/kusama/src/weights/pallet_bounties.rs
  runtime/kusama/src/weights/pallet_democracy.rs
  runtime/kusama/src/weights/pallet_gilt.rs
  runtime/kusama/src/weights/pallet_identity.rs
  runtime/kusama/src/weights/pallet_im_online.rs
  runtime/kusama/src/weights/pallet_indices.rs
  runtime/kusama/src/weights/pallet_membership.rs
  runtime/kusama/src/weights/pallet_multisig.rs
  runtime/kusama/src/weights/pallet_preimage.rs
  runtime/kusama/src/weights/pallet_proxy.rs
  runtime/kusama/src/weights/pallet_scheduler.rs
  runtime/kusama/src/weights/pallet_session.rs
  runtime/kusama/src/weights/pallet_staking.rs
  runtime/kusama/src/weights/pallet_timestamp.rs
  runtime/kusama/src/weights/pallet_tips.rs
  runtime/kusama/src/weights/pallet_treasury.rs
  runtime/kusama/src/weights/pallet_utility.rs
  runtime/kusama/src/weights/pallet_vesting.rs
  runtime/kusama/src/weights/runtime_common_auctions.rs
  runtime/kusama/src/weights/runtime_common_claims.rs
  runtime/kusama/src/weights/runtime_common_paras_registrar.rs
  runtime/kusama/src/weights/runtime_common_slots.rs
  runtime/kusama/src/weights/runtime_parachains_configuration.rs
  runtime/kusama/src/weights/runtime_parachains_disputes.rs
  runtime/kusama/src/weights/runtime_parachains_initializer.rs
  runtime/kusama/src/weights/runtime_parachains_paras.rs
  runtime/kusama/src/weights/runtime_parachains_paras_inherent.rs
Owners: none

Polkadot weights
  runtime/polkadot/src/weights/pallet_bags_list.rs
  runtime/polkadot/src/weights/pallet_balances.rs
  runtime/polkadot/src/weights/pallet_bounties.rs
  runtime/polkadot/src/weights/pallet_democracy.rs
  runtime/polkadot/src/weights/pallet_elections_phragmen.rs
  runtime/polkadot/src/weights/pallet_identity.rs
  runtime/polkadot/src/weights/pallet_im_online.rs
  runtime/polkadot/src/weights/pallet_indices.rs
  runtime/polkadot/src/weights/pallet_membership.rs
  runtime/polkadot/src/weights/pallet_multisig.rs
  runtime/polkadot/src/weights/pallet_preimage.rs
  runtime/polkadot/src/weights/pallet_proxy.rs
  runtime/polkadot/src/weights/pallet_scheduler.rs
  runtime/polkadot/src/weights/pallet_session.rs
  runtime/polkadot/src/weights/pallet_staking.rs
  runtime/polkadot/src/weights/pallet_timestamp.rs
  runtime/polkadot/src/weights/pallet_tips.rs
  runtime/polkadot/src/weights/pallet_treasury.rs
  runtime/polkadot/src/weights/pallet_utility.rs
  runtime/polkadot/src/weights/pallet_vesting.rs
  runtime/polkadot/src/weights/runtime_common_claims.rs
  runtime/polkadot/src/weights/runtime_common_paras_registrar.rs
  runtime/polkadot/src/weights/runtime_parachains_configuration.rs
  runtime/polkadot/src/weights/runtime_parachains_initializer.rs
  runtime/polkadot/src/weights/runtime_parachains_paras.rs
  runtime/polkadot/src/weights/runtime_parachains_paras_inherent.rs
Owners: none

Companion: code-substitute: Switch from `block_hash` to `block_number` (#4667)
  Cargo.lock
Owners: none

.github/CODEOWNERS:

bridges/ @tomusdrw @svyatonik @adoerr @acatangiu @antonio-dropulic

# CI
/.github/ @paritytech/ci @chevdor
/scripts/github/ @paritytech/ci @chevdor
/scripts/gitlab/ @paritytech/ci @chevdor
/.gitlab-ci.yml @paritytech/ci
